:root {
  --main-color: #001F3F;
  --secondary-color: #FFD700;
  --third-color: #4B0082;
  --light-color: #f1efef;
  --dark-color: #000000;
  --main-color-hover: #1a3552;
  --success-color: #229954;
  --success-color-dark: #229954e1;
  --error-color: #C0392B;
  --error-color-dark: #c03a2bd5;
}

@font-face {
  font-family: "Conduit ITC";
  src: url("/fonts/Conduit-ITC/Conduit-ITC-Std-Font.otf");
}

* {
  font-family: 'Conduit ITC', sans-serif, Arial, Helvetica;
  margin: 0;
  padding: 0;
}